@import "tailwindcss";
@import "tailwindcss/utilities";

@keyframes slide {

    0%,
    100% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }
}

.animate-slide {
    animation: slide 10s infinite;
}